body{
    background-color: rgb(34, 32, 32); 
}


.container h1{
    color: #37ca0a;
    font-size: 100px;
    font-weight: lighter;
}

.container h2{
    color: white;
    font-weight: 20;
    font-size: 40px;
}

.container p{
    font-size: 40px;
    font-weight: 10;
}